<item>
    <title><perch:blog id="postTitle" type="text" label="Title"/></title>
        <link><?php echo PerchUtil::html($domain) ?>/blog</link>
    <description>
        <perch:blog id="postDescHTML" type="textarea" label="Post"/>
    </description>
    <image>
        <perch:if exists="image">
            <img class="img-fluid" src="<perch:blog id="image" type="image"/>" alt="<perch:blog id="postTitle" />" />
        </perch:if>
    </image>
</item>