<h1 class="text-center h1-visits"><perch:content id="bannerh1" type="textarea" label="Banner header" help="This will form the heading of the Blog Post" markdown editor="simplemde"></perch:content></h1>
<h5 class="text-center h5-visits"><perch:content id="bannerh2" type="textarea" label="Banner subheader" help="This will form the heading of the Blog Post" markdown editor="simplemde"></perch:content></h5>
<p class="text-center mt-3 p-visits"><perch:content id="bannerp" type="textarea" label="Banner paragraph" help="This will form the heading of the Blog Post"></perch:content></p>
