<h3><perch:content id="header" type="textarea" label="Image header"  markdown editor="simplemde"></perch:content></h3>
<h2><perch:content id="header2" type="textarea" label="Image header 2"  markdown editor="simplemde"></perch:content></h2>
<ul class="mt-4">
    <li class="banner-list"><img src="images/tick.png" width="30" class="mr-3"><perch:content id="list1" type="textarea" label="List 1"></perch:content></li>
    <li class="banner-list mt-3"><img src="images/tick.png" width="30" class="mr-3"><perch:content id="list2" type="textarea" label="List 2"></perch:content></li>
    <li class="banner-list mt-3"><img src="images/tick.png" width="30" class="mr-3"><perch:content id="list3" type="textarea" label="List 3"></perch:content></li>
</ul>