<h1 class="text-center h1-visits"><perch:content id="bannerh" type="textarea" label="Banner header" help="This will form the heading of the Blog Post" editor="tinymce"></perch:content></h1>
<p class="text-center p-visits"><perch:content id="bannerp" type="textarea" label="Banner paragraph" help="This will form the heading of the Blog Post" editor="tinymce"></perch:content></p>
