<p class="p-blog"><perch:content id="date" type="textarea" label="Blo date" ></perch:content></p>
<h4 class="h2-blog"><perch:content id="blogtext" type="textarea" label="Blog Text" markdown editor="simplemde"></perch:content></h4>
