<perch:form id="contact" method="post" role="form" app="perch_forms">
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-lg-4">
                <perch:label for="name">First Name</perch:label>
                <perch:input type="text" id="name" required label="Name" class="form-control" placeholder="First name">
                <perch:error for="name" type="required">Please add your name</perch:error>
            </div>
            <div class="form-group col-lg-4">
                <perch:label for="last_name">Last Name</perch:label>
                <perch:input type="text" id="last_name" required label="Last Name" class="form-control" placeholder="Last name">
                <perch:error for="last_name" type="required">Please add your name</perch:error>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-lg-8">
                <perch:label for="email">Email</perch:label>
                <perch:input type="email" id="email" required label="Email" class="form-control" placeholder="Email">
                <perch:error for="email" type="required">Please add your email address</perch:error>
                <perch:error for="email" type="format">Please check your email address</perch:error>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-lg-8">
                <perch:label for="adress">Address</perch:label>
                <perch:input type="text" id="address" required label="Address" class="form-control" placeholder="Address">
                <perch:error for="address" type="required">Please add your address</perch:error>
                <perch:error for="address" type="format">Please check your address</perch:error>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-lg-8">
                <perch:label for="tel">Phone Number</perch:label>
                <perch:input type="tel" id="tel" required label="Phone Number" class="form-control" placeholder="Phone Number">
                <perch:error for="tel" type="required">Please add your phone number </perch:error>
                <perch:error for="tel" type="format">Please check your phone number</perch:error>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-lg-8">
                <perch:label for="message">Message</perch:label>
                <perch:input type="textarea" id="message" required label="Message" class="form-control" placeholder="Message">   
                <perch:error for="message" type="required">Please add a message</perch:error>             
            </div>
        </div>
    </div>
    <!-- <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
        <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
        <div class="help-block with-errors"></div>
    </div> -->
    <div class="text-center">
        <perch:input type="submit" id="submit" class="btn btn-primary mb-5" value="Submit">
    </div>

    <perch:success>
        <div class="alert alert-success text-center mt-5">
            <perch:content id="success" type="textarea" size="m" label="Thank you message" markdown editor="simplemde" required>
        </div>    
    </perch:success>

</perch:form>