<perch:form id="enquiries" method="post" role="form" app="perch_forms">
    <div class="container">
        <div class="row justify-content-center">
        <div class="form-group col-lg-8">
            <perch:label for="company_size">Choose your company size</perch:label>
            <perch:input type="select" options="red,green,blue" class="form-control" id="company_size">
            <perch:error for="company_size" type="required">Please select your company's size</perch:error>
            <!-- <perch:select id="inputState" class="form-control">
                <perch:option>Select...</option>
                <perch:option>...</option>
            </select> -->
        </div>
        </div>
        <div class="row justify-content-center">
        <div class="form-group col-lg-8">
            <perch:label for="company_name">Company Name</perch:label>
            <perch:input type="text" id="company_name" required label="Company Name" class="form-control" placeholder="Company name">
            <perch:error for="company_name" type="required">Please add your company name</perch:error>
        </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-lg-4">
                <perch:label for="name">First Name</perch:label>
                <perch:input type="text" id="name" required label="Name" class="form-control" placeholder="First name">
                <perch:error for="name" type="required">Please add your name</perch:error>
            </div>
            <div class="form-group col-lg-4">
                <perch:label for="last_name">Last Name</perch:label>
                <perch:input type="text" id="last_name" required label="Last Name" class="form-control" placeholder="Last name">
                <perch:error for="last_name" type="required">Please add your name</perch:error>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-lg-8">
                <perch:label>Email</perch:label>
                <perch:input type="email" class="form-control" placeholder="Email">
                <perch:error for="email" type="required">Please add your email address</perch:error>
                <perch:error for="email" type="format">Please check your email address</perch:error>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-lg-8">
                <perch:label for="message">Message</perch:label>
                <perch:input type="textarea" id="message" required label="Message" class="form-control" placeholder="Message">
                <perch:error for="message" type="required">Please add a message</perch:error>                             
            </div>
        </div>
    </div>
    <!-- <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
        <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
        <div class="help-block with-errors"></div>
    </div> -->
    <div class="text-center">
        <perch:input type="submit" id="submit" class="btn btn-primary mb-5" value="Submit">
    </div>

    <perch:success>
        <div class="alert alert-success text-center mt-5">
            <perch:content id="success" type="textarea" size="m" label="Thank you message" markdown editor="simplemde" required>
        </div>    
    </perch:success>
</perch:form>