<li>
    <a href="<perch:content id="image" type="image" label="Image" width="800" height="600">">
        <img src="<perch:content id="image" type="image" label="Image" width="175" height="175" crop>"
            alt="<perch:content id="title" label="title" type="text" required>">
    </a>
</li>

<perch:content id="album" type="albumlist" label="Album">
