<h1 class="mt-5 covid-h1"><perch:content id="halfimageheading" type="textarea" label="Half Text Half image header" textile></perch:content></h1>
<p class="ml-5 covid-p"><perch:content id="halfimagep" type="textarea" label="Half Text Half image header paragraph" textile></perch:content></p>
