<h2 class="text-center h2-card"><perch:content id="pricingtext" type="textarea" label="Pricing Text" textile help="This will form the pricing text"></perch:content></h2>
<h1 class="display-2 price2">
<div class="gbp">
    <h1 class="currency mt-3"><perch:content id="currency" type="textarea" label="Pricing currency" help="This will form the pricing currency" markdown editor="simplemde"></h1>
    <span class="">
    <h6 class="from">from</h6>
    </span>
</div>
<perch:content id="price" type="textarea" label="Price" help="This will form the price" markdown editor="simplemde"></h1>