<li class="list"><img src="images/check-mark.png" width="20"  class="mr-xl-3 mr-lg-1 check-mark"><perch:content id="list1" type="textarea" label="List" help="This will form the bullet points of the Pricing List" ></perch:content></li>
<li class="list"><img src="images/check-mark.png" width="20"  class="mr-xl-3 mr-lg-1 check-mark"><perch:content id="list2" type="textarea" label="List" help="This will form the bullet points of the Pricing List" ></perch:content></li>
<li class="list"><img src="images/check-mark.png" width="20"  class="mr-xl-3 mr-lg-1 check-mark"><perch:content id="list3" type="textarea" label="List" help="This will form the bullet points of the Pricing List" ></perch:content></li>
<li class="list"><img src="images/check-mark.png" width="20"  class="mr-xl-3 mr-lg-1 check-mark"><perch:content id="list4" type="textarea" label="List" help="This will form the bullet points of the Pricing List" ></perch:content></li>
<li class="list"><img src="images/check-mark.png" width="20"  class="mr-xl-3 mr-lg-1 check-mark"><perch:content id="list5" type="textarea" label="List" help="This will form the bullet points of the Pricing List" ></perch:content></li>
