<h2 class="h2-showcase"><perch:content id="showcase" type="textarea" label="Image header" help="This will form the heading of the Blog Post" markdown editor="simplemde"></perch:content></h2>
<p class="showcase-p"><perch:content id="showcase1" type="textarea" label="image text" help="This will form the heading of the Blog Post" markdown editor="simplemde"></perch:content></p>
