<article class="h-entry">
	
	<p class="h2-blog">
        <time class="dt-published" datetime="<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d H:i:s" divider-before="Publishing" />">
            <perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y" /> 
        </time>
    </p>
    
    <h1 class="h1-blog">
        <a href="<perch:blog id="postURL" type="hidden" />" rel="bookmark" class="p-name">
            <perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" />
        </a>
    </h1>

    <h3 class="h2-blog text-left mt-5">
        <a href="<perch:blog id="postURL" type="hidden" />" rel="bookmark" class="p-name">
            <perch:blog id="postSubTitle" type="text" label="SubTitle" size="xl autowidth" order="4" />
        </a>
    </h3>

    <div class="description e-content mt-5 text-justify"  style="overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">
    	<perch:blog id="postDescHTML" type="textarea" label="Post" order="2" editor="markitup" markdown="true" size="xxl autowidth" required="true" />
    </div>

    <h3 class="h2-blog text-left mt-5">
        <a href="<perch:blog id="postURL" type="hidden" />" rel="bookmark" class="p-name">
            <perch:blog id="postSubTitle2" type="text" label="SubTitle2" size="xl autowidth" order="5" />
        </a>
    </h3>

    <div class="description e-content mt-3 text-justify">
    	<perch:blog id="postDescHTML2" type="textarea" label="Post2" order="6" editor="markitup" markdown="true" size="xxl autowidth"/>
    </div>

    <perch:if exists="image">
        <div class="my-5">
            <img class="img-fluid" src="<perch:blog id="image" type="image" label="Image" order="7" />" alt="<perch:blog id="postTitle" />" />
        </div>
    </perch:if>

</article>
