
<section class="showcase mt-5">
    <div class="container-fluid p-0 cards">


        <div class="row">   

            <div class="col-lg-6 text-white showcase-img pl-md-5 pl-sm-3 <perch:every nth-child="odd"> col-md-12 col-sm-12  </perch:every> <perch:every nth-child="even"> order-lg-2 </perch:every>"> 

                <perch:if exists="image">
                    <img class="img-fluid" src="<perch:blog id="image" type="image"/>" alt="<perch:blog id="postTitle" />" />
                </perch:if>
            </div>

            <div class="col-lg-6 blog-text <perch:every nth-child="odd"> col-md-12 col-sm-12 </perch:every> <perch:every nth-child="even"> order-lg-1</perch:every>">
                <p class="p-blog entry-published date mt-xl-5">
                    <perch:blog id="postDateTime" format="%d %B %Y" />
                </p>
                <h1 class="h2-blog">
                    <a href="<perch:blog id="postURL" />" rel="bookmark" class="entry-title"><perch:blog id="postTitle" /></a>
                </h1>
                <div class="description e-content mt-5 text-justify" style="overflow-wrap: break-word;word-wrap: break-word;hyphens: auto;">

                     <perch:blog id="postDescHTML" type="textarea" label="Post" order="2" chars="300" editor="markitup" markdown="true"  required="true" append="..." />
                </div>
                <a href="<perch:blog id="postURL" type="hidden" />" rel="bookmark" class="p-name">
                    <p class="p-blog mt-4">Read more <img src="images/arrow2.png" width="20"></p>
                </a> 
            </div>

        </div>

    </div>
  </section>

<perch:after>
<div class="paging">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12 blog-btns text-center">
                <perch:if exists="not_first_page">
                    <a href="<perch:blog id="prev_url" encode="false" class="mr-2 previous-blog text-center" />"><img src="images/arrow-left.png" width="20" class="mr-1">Previous </a>
                </perch:if>
                Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" />
                <perch:blog id="page_links" encode="false" />
                <perch:if exists="not_last_page" >
                    <a href="<perch:blog id="next_url" encode="false" class="next-blog text-center" />">Next <img src="images/arrow2.png" width="20" class="ml-1"></a>
                </perch:if>
            </div>
        </div>
        </div>
    </div>
</perch:after>


            
