<item>
    <title><perch:blog id="postTitle" type="text" label="Title"/></title>
    <link>https://nlclinicpeterborough.co.uk/post.php?s=<perch:blog id="postURL" /></link>
    <description>
        <perch:blog id="postDescHTML" type="textarea" label="Post"/>
    </description>
    <image>
        <perch:if exists="image">
            <img src="<perch:blog id="image" type="image"/>" alt="<perch:blog id="postTitle" />" />
        </perch:if>
    </image>
</item>