table.tags {
	margin-top: 10px;
}

table.tags {
	padding-left: 230px;
}

@media screen and (max-width: 1060px) {
	table.tags {
		margin-top: 10px;
		padding-left: 0;
	}
}



.members-search-form .btn.btn-status {
	width: 100% !important;
	text-align: left;
	background-color: #f9f9f9;
	border: 1px solid #ced4da;
}

.members-search-form .btn.btn-search {
	background-color: #7696cc;
	border-radius: 0px !important;
	color: #ffffff;
	padding-right: 1rem;
	padding-left: 1rem;
}

.members-search-form .form-control {
	background-color: #f9f9f9;
}

.members-search-form .ml {
	margin-left: 0px !important;
}

.members-search-form .w-80 {
	width: 75% ;
	margin-left: 0px !important;
}

.members-search-form .dropdown-toggle::after {
	margin-left: auto !important;
}

.members-search-form .content {
	justify-content: start;
}

@media only screen and (max-width:768px) {
	.members-search-form .content {
		justify-content: center !important;
	}
	.members-search-form .w-80 {
		width: 100%;
		margin-left: 0px !important;
	}
	.members-search-form .mt {
		margin-top: 1rem;
	}
}
