<perch:if exists="catURL">
    <iframe src='<perch:category id="catURL" type="smarttext" label="URL"  />'
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            width="100%"
            height="100%"
            scrolling="auto">
    </iframe>
<perch:else>

    <p align="center">Not available booking currently </p>
</perch:if>
