<perch:before><select class="custom-select" onchange="location = this.value;"><option selected>Select test centre</option></perch:before>
<option value='book-now.php?p=<perch:category id="catTitle" type="smarttext" label="Title" required="true" />'><perch:category id="catTitle" type="smarttext" label="Title" required="true" /></option>

<perch:after></select></perch:after>
