<h1><perch:content id="title" type="smarttext" label="Title" required title></h1>
<perch:content id="date" type="date" label="Date" required format="d F Y">
<perch:content id="body" type="textarea" markdown label="Article" editor="simplemde">