<!-- <perch:shop id="sku" type="text" label="SKU" required="true" order="1" />
<perch:shop id="title" type="text" label="Title" required="true" order="2" />
<perch:shop id="slug" type="slug" editable="true" indelible="true" label="Slug" for="title sku" order="10" divider-before="Meta data" />
<perch:shop id="description" type="textarea" label="Description" editor="markitup" order="3" markdown="true" size="s" />
<perch:shop id="image" type="image" label="Main product image" order="4" width="800" />
<perch:shop id="image" type="image" width="80" height="80" density="1.6" crop="true" />
<perch:shop id="status" type="shop_status" label="Status" />

<perch:shop id="brand" type="shop_brand" label="Brand" allowempty="true" />

<perch:categories id="category" set="products" label="Category">
	<perch:category id="catTitle" />
</perch:categories>

<perch:shop id="catalog_only" type="shop_catalog_only" label="Catalog only" />
<perch:shop id="price" type="shop_currency_value" label="Price" divider-before="Pricing" size="s" min="0" step="any" />
<perch:shop id="sale_price" type="shop_currency_value" label="Sale price" size="s" min="0" step="any" />
<perch:shop id="trade_price" type="shop_currency_value" label="Trade price" size="s" min="0" step="any" runway="true" />
<perch:shop id="on_sale" type="checkbox" value="1" label="Use sale price" />
<perch:shop id="tax_group" type="shop_tax_group" label="Tax group" required="true" />


<perch:shop id="stock_status" type="shop_stock_status" label="Stock status" divider-before="Stock" required="true" />
<perch:shop id="stock_level" type="number" label="Stock level" size="s" />
<perch:shop id="stock_location" type="shop_stock_location" label="Count stock" />
<perch:shop id="max_in_cart" type="number" label="Max quantity in cart" size="s" />

<perch:shop id="requires_shipping" type="shop_requires_shipping" label="Requires shipping" divider-before="Shipping" />
<perch:shop id="weight" type="number" label="Shipping weight" size="s" />
<perch:shop id="width" type="number" label="Width" size="s" />
<perch:shop id="height" type="number" label="Height" size="s" />
<perch:shop id="depth" type="number" label="Depth" size="s" /> -->


<div class="row mt-5">
    <div class="col-lg-6 col-md-6 col-sm-12">
		<img class="img-fluid" src="<perch:shop id="image" type="image" label="Main product image" required="true" />" alt="<perch:shop id="title" type="text" label="Title" required="true" />" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
		<h1 class="h1-view"><perch:shop id="title" type="text" /></h1>
		<img src="images/line.png" class="text-left mb-3" width="50" height="10">
        <p class="">by Lorem Ipsum</p>
		<h2 class="font-weight-bold mt-4 mb-4"><perch:shop id="price" type="shop_currency_value" label="Price" divider-before="Pricing" size="s" min="0" step="any" /></h2>

		<perch:form id="add_to_cart" app="perch_shop" action="/basket.php">
			
			<perch:input class="form-control mb-4" type="select" id="product"
			options="<perch:shop id="_variant_opts" type="hidden" />" />

			<perch:cartitems>
				<perch:input id="qty:<perch:cartitem id="identifier" />" value="<perch:cartitem id="quantity" />" type="number" min="0" />
			</perch:cartitems>

			<perch:input id="product" type="hidden" env-autofill="false" value="<perch:shop id="productID" type="hidden" env-autofill="false" />" />
			<perch:input class="btn btn-cart text-uppercase" type="submit" value="Add to Basket" />
		</perch:form>

		<h4 class="mt-5">SKU <perch:shop id="sku" type="text" label="SKU" required="true" order="1"/></h4>

	<h1 class="mt-5 h1-view">Description</h1>
	<img src="images/line.png" class="text-left mb-3" width="50" height="10">
	<h5 class="h5-view"><perch:shop id="description" type="textarea" label="Description" editor="markitup" order="3" markdown="true" size="s" /></h5>
	
    </div>
</div>


